:root {
    --muito-claro: #D2CFCA;
    --claro: #BDC4D4;
    --medio: #52667E;
    --escuro: #1D2E4A;
    --muito-escuro: #0F1A2C;

    --color-1: #0E1E37;
    --color-2: #15253F;
    --color-3: #2C3D5B;
    --color-4: #7C8594;
    --color-5: #b3b9c2;
    --color-6: #DEDEE6;
}

/* reset dos valores padrões do boxmodel */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-2);
}

body {
    background: var(--color-5);
}


/* ------------- HEADER ------------- */
/* container do header */
.header-container {
    min-height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 30px; 
}

/* container da lista com os links de cada página */
.list-container {
    display: flex;
    text-align: center;
    align-items: center;

    width: 1300px;
    gap: 50px;
}

.list-container li {
    list-style: none;
    border-radius: 8px;

    width: 185.7px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.5s;
}

.list-container li:hover {
    background-color: var(--color-3);
}

.list-container li a {
    color: var(--dark-color);
    text-decoration: none;
    
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.list-container li a:hover {
    color: var(--color-5);
}

/* estilo dos links do navbar */
.link-style {
    color: var(--dark-color);
    font-weight: bold;
    transition: 0.5s;
}




/* ------------- MAIN ------------- */
/* main container */
.main-container {
    width: 100%;
    min-height: calc(100vh - 100px);

    display: flex;
}

.main-container-title-names {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    color: var(--dark-color);
}

.main-container-title-names h1 {
    font-size: 5rem;
    text-align: center;
}

.main-container-title-names ul li {
    list-style: none;
    text-align: center;
    margin-top: 10px;
    font-size: 1.5rem;
}

.main-container-image {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container-image img {
    height: 600px;
    border-radius: 25px;
}



